.skills-container{
    margin: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    
    align-items: center;
    padding-left: 0;

}
li{
    margin: 3px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
    font-size: 0.7em;
    flex-grow: 2;
    
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.height-width{
    height: 150px;
    width: 200px;
    min-height:150px;
    min-width: 200px;
    padding: 12px;
    padding-top: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
